BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
NamespaceIndentation: None
WrapNamespaceBodyWithEmptyLines: Always
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
SortUsingDeclarations: Never
BreakTemplateDeclarations: Yes
FixNamespaceComments: false
MaxEmptyLinesToKeep: 1
